<header class="site-header">
	<div class="site-header-inner">
		<h1>
			<a href="/"><img src="/helpmivote.org.png" width="222" alt="HelpMIVote.org"></a>
		</h1>

		<nav class="site-nav">
			<div class="trigger">
				{% assign pages = site.pages | sort:"nav_position"  %}
				{% for my_page in pages %}
					{% if my_page.title and my_page.url != "/404.html" %}
					<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
	</div>
</header>
